{% form_theme form 'SyliusWebBundle:Backend/Promotion:_forms.html.twig' %}

<div class="row">
    <div class="col-md-7">
        {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
        {{ form_row(form.description) }}
        {{ form_row(form.startsAt) }}
        {{ form_row(form.endsAt) }}
    </div>
    <div class="col-md-5">
        {{ form_row(form.usageLimit) }}
        {{ form_row(form.couponBased) }}
        {{ form_row(form.exclusive) }}
        {{ form_widget(form._token) }}
    </div>
</div>
<hr>
<div class="row promotion-settings">
    <div class="col-md-6">
        <div id="sylius_promotion_rules" data-prototype="{{ form_row(form.rules.vars.prototype)|e }}">
            {% for ruleForm in form.rules %}
                {{ form_row(ruleForm) }}
            {% endfor %}
        </div>
        <a href="#" class="btn btn-success btn-block" data-collection-button="add" data-prototype="sylius_promotion_rules" data-collection="sylius_promotion_rules">{{ 'sylius.promotion.add_rule'|trans }}</a>
    </div>
    <div class="col-md-6">
        <div id="sylius_promotion_actions" class="collection-container" data-prototype="{{ form_row(form.actions.vars.prototype)|e }}">
            {% for actionForm in form.actions %}
                {{ form_row(actionForm) }}
            {% endfor %}
        </div>
        <a href="#" class="btn btn-success btn-block" data-collection-button="add" data-prototype="sylius_promotion_actions" data-collection="sylius_promotion_actions">{{ 'sylius.promotion.add_action'|trans }}</a>
    </div>
</div>

<hr>

{% for type, prototype in form.vars.prototypes %}
    {% for configurationForm in prototype %}
        {% form_theme configurationForm 'SyliusWebBundle:Backend/Promotion:_configurationForms.html.twig' %}
    {% endfor %}
    <div id="{{ type }}" data-prototype="{{ form_row(prototype, {'label': false})|e }}">
    </div>
{% endfor %}
