{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}
{% from 'SyliusWebBundle:Backend/Inventory:macros.html.twig' import list %}
{% import 'SyliusUiBundle::buttons.html.twig' as buttons %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.assortment'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.inventory.index'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
<div class="page-header">
    <div class="actions-menu">
        {{ buttons.create(path('sylius_backend_product_create'), 'sylius.product.create'|trans) }}
        {{ buttons.manage(path('sylius_backend_product_index'), 'sylius.product.manage'|trans) }}
    </div>
    <h1><i class="fa fa-tasks"></i> {{ 'sylius.stockable.index_header'|trans|raw }}</h1>
</div>

{% render(controller('sylius.controller.backend.form:filterAction', {'type': 'sylius_product_filter', 'template': 'SyliusWebBundle:Backend/Product:filterForm.html.twig'})) %}

{{ pagination.standard(products) }}
{{ list(products) }}
{{ pagination.standard(products) }}

{% endblock %}
