{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/TaxCategory:macros.html.twig' import list %}
{% import 'SyliusUiBundle::page.html.twig' as page %}
{% import 'SyliusUiBundle::pagination.html.twig' as pagination %}

{% block header %}
{{ page.header('sylius.tax_category.index_header', 'cog') }}
{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.configuration'|trans }}</li>
    <li>{{ 'sylius.breadcrumb.tax_category.index'|trans }}</a></li>
</ol>
{% endblock %}

{% block content %}
{{ pagination.standard(tax_categories) }}
{{ list(tax_categories) }}
{{ pagination.standard(tax_categories) }}
{% endblock %}
